{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>       
    <!-- multiple-select library -->
    <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
    <title>AIDEA</title>
    <link rel="shortcut icon" href="{% static 'image/LGAiDea.png' %}">
    <link rel="stylesheet" href=" {% static 'css/font.css' %}">
    <link rel="stylesheet" href=" {% static 'css/font2.css' %}">
    <link rel="stylesheet" href=" {% static 'css/custom.css' %}">
</head>
<style>


    .image-upload>input {
       
  display: none;
   
}
#myTopnav{
            letter-spacing: 2px;

          }
    

    @font-face {
   font-family: 'NotoSansThai0';
   src: url("{% static 'CSS/NotoSansThai-CondensedThin.ttf' %}");
   
 }

 
 @font-face {
   font-family: 'NotoSansE';
   src: url("{% static 'CSS/NotoSans-Regular.ttf' %}");
   font-weight: 200; 
   font-style: normal;
 } 
 @font-face {
   font-family: 'NotoSansThai';
   src: url("{% static 'CSS/NotoSansThai-ExtraCondensedBold.ttf' %}");
  
 } 

 form,strong,h4,h3,h5{
   font-family: 'NotoSansThai';
   font-size: 160;
   word-spacing: 3px;
   
   /* font-size: 14px; */
 }
 a{
   font-family: 'NotoSansThai0';
   font-size: 160;
   word-spacing: 3px;
   
   /* font-size: 14px; */
 }
           #image{ 
               
               margin-left: auto;
               margin-right: auto;
   }

   #btn_submit_B{
    padding: 10px;
  display: inline-block;
  background: url("{% static 'image/BGbtn.png' %}");

  background-size: cover;
  text-align: center;
  font-weight:bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
   letter-spacing: 2px;
  margin-top: 0%;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  color: white;
  position: absolute;
 
  width: 35%;
   }
   #btn_submit_S{
    padding: 10px;
  display: inline-block;
  background: url("{% static 'image/BGbtn.png' %}");

  background-size: cover;
  text-align: center;
  font-weight:bold;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
   letter-spacing: 2px;
  margin-top: 0%;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  color: white;
  position: absolute;
 
  width: 35%;
   }
   #subject{
           
       text-align: center;
       background-color: white;
       border-radius: 8px;
       display: inline-block;
       
       
   }
   #topic{
       
       text-align: center;
       background-color: white;
       border-radius: 8px;
       display: inline-block;
   }
   #other{
    background-color: white;
       border-radius: 8px;
   }
   
   #chapter{
          
   text-align: center;
   background-color: white;
       border-radius: 8px;

        }
       
        #partname{
           width: 300px;             
        }

       #othery{
           width: 200px;
           text-align: left;
           
       }
        /* Add a black background color to the top navigation */
.topnav {
   background-color: #CCF4ED;
   overflow: hidden;
 }
 
 /* Style the links inside the navigation bar */
 .topnav a {
   float: left;
   display: block;
   color: #726F69;
   text-align: center;
   padding: 16px 19px;
   text-decoration: none;
   font-size: 16px;
 }
 
 /* Change the color of links on hover */
 .topnav a:hover {
   background-color: #CCF4ED;
   color: black;
 }
 
 /* Add an active class to highlight the current page */
 .topnav a.active {
   background-color: #CCF4ED;
   color: black;
 }
 
 /* Hide the link that should open and close the topnav on small screens */
 .topnav .icon {
   display: none;
 }
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
   .topnav a:not(:first-child) {display: none;}
   .topnav a.icon {
     float: right;
     display: block;
   }
 }
 
 /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
 @media screen and (max-width: 600px) {
   .topnav.responsive {position: relative;}
   .topnav.responsive a.icon {
     position: absolute;
     right: 0;
     top: 0;
   }
   .topnav.responsive a {
     float: none;
     display: block;
     text-align: left;
   }
 }
   </style> 
<body>
    <!-- Navbar  -->
    <nav class="topnav" id="myTopnav">
        <a class="navbar-brand" href="/home">
            <img src="{% static 'image/LGAiDea.png' %}" alt="" width=30px; style="margin-bottom: 5px ;" >

        </a> 
        <a href="/home" >หน้าหลัก</a>
        <a href="/upload">อัพโหลดรูปภาพ</a>
        <a href="/objective">วัตถุประสงค์และเงื่อนไขกิจกรรม</a>
       
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </nav>
    <!-- jquery library -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function previewFile(input) {
            var file = $("input[type=file]").get(0).files[0];
            var reader = new FileReader();
            if (file) {
            //  preview image 
                reader.onload = function() {   
                    $("#image").attr("src", reader.result);
                    
                }
            // finish onload send dataURL
                reader.readAsDataURL(file);
            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script>
        // $(document).ready(
        //     function() {
        //         $('input:file,ID_Text').change(
        //             function() {
        //                 if ($(this).val()) {
        //                     $('input:submit').attr('disabled', false);
        //                 }
        //             }
        //         );
        //     });
    </script>
    <form name="myform" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <form name="myform" method="POST" enctype="multipart/form-data" style="margin-top:5%;">

            <div class="container">
                <div class="form-group row">
                    <form name="form1" id="form1" action="/action_page.php">


                        <!-- รหัสพนักงาน -->
                        <div class="container" style="margin-top: 5%;">
                            <h5>กรอกรหัสพนักงานเพื่อส่งรูปภาพลุ้นรางวัล</h5>
                            <input id="partname" type="text" name="Partner" minlength="6" maxlength="7" onkeypress="return onlyNumberKey(event)" placeholder="กรุณากรอกรหัสพนักงาน" required>
                        </div>
                        <!-- upload file-->
                        <div class="jumbotron jumbotron-fluid " id="jub">
                            <h5>อัพโหลดไฟล์ภาพถ่ายมุมสูงของอุปกรณ์</h5>
                            <div class="col-sm-5">
                                <div class="custom-file">
                                    <form action="/examples/actions/confirmation.php" method="post">

                                        <div class="container-fluid-1">

                                            <div class="container-image-alige">
                                                <img id="image" src="\static\image\12.png" alt="Your Image" style="width:50%; "  class="rounded mx-auto d-block">
                                                <h5 id="jpg-png">.jpeg ,.png (ขนาดไฟล์ 4 MB)</h5>
                                            </div>

                                            <div class="image-upload" >
                                                <label for="file-input" style="margin-left: 25%;">
                                                  <img src="{% static 'image/Btn.png' %}" >
                                                </label>
                                                
                                                <input type="file" name="image" id="file-input" onchange="previewFile(this);"  accept="image/*" required/>
                                              </div>


                                            <label class="custom-file-label"></label>

                                            <div class="container-2" style="margin-left: 5%; margin-bottom: 5%;">
                                                <h5>ระบบแรงดัน</h5>
                                                <div class="radio_box" name="Voltage"></div>
                                             
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>


                </div>
                <h5 style="margin-top: 5%; margin-left: 5%;">ระบุรายละเอียดของอุปกรณ์ในภาพถ่าย</h5>
                <div class="container-fram">
                    <style>
                        select {
                            width: 80%;
                        }
                    </style>
                    
                    <form name="myform0" method="POST" enctype="multipart/form-data" >
                        
                        <div id="element">
                            <h4 style="margin-top: 5%; margin-left: 5%;">อุปกรณ์ที่ 1</h4>
                             <h5 style=" margin-left: 5%;" >ประเภทอุปกรณ์</h5>  
                             <script>
                                     var styles = {
                                    "background-color": "lightgray",
                                    "width": "500px",
                                    "height": "300px"
                                };
                                
                                var obj = document.getElementById("subject");
                                Object.assign(obj.style, styles);
                                 </script>
                             <div id="container"></div>
                            
                                <select name="subject" id="subject"  style="margin-bottom:5%; margin-left: 5%; "  value="subject" required></select>
                            <br>

                            <h5 style=" margin-left: 5%; "> ชนิดอุปกรณ์</h5>
                            <select name="topic" id="topic" style="margin-bottom:5%; margin-left: 5%;" value="topict" required></select>
                            <br>

                            <h5 style=" margin-left: 5%; margin-left: 5%;"> สภาพอุปกรณ์ (เลือกได้หลายรายการ)</h5>
                            <select multiple="multiple" class="multiple-select" value="chaptert"  name="chapter[]" id="chapter" placeholder="เลือกสภาพอุปกรณ์" required></select>
                        <style>
                            .multiple-select{
                                margin-left: 5%;
                            
                            }
                            #other{
                                margin-left: 5%;
                            }

                            </style>
                    
                            <div id="divother" style="margin-top: 5%; margin-left: 5%;">
                                <label for="forother" >กรุณีเลือกอื่นๆ</label><br>
                                <input type="text" name="other" id="other" placeholder="กรุณากรอกสภาพการชำรุด" />
                            </div>
                        </div>

                        <!-- <div id="clonedItem"></div> -->
                        <!-- <div class="clonedItem"></div> -->
                        
                    </form>
                    <!-- <div>
                         <br>เพิ่มอุปกรณ์<br>
                         <input id="buttadd" type="button" value="+เพิ่มอุปกรณ์" />
                    </div> -->
                    <div class="container" style="margin-top: 10%; margin-bottom: 5%;">
                        <div class="row">
                          <div class="col">
                            <a href="/home">  <input id="btn_submit_B" type="link"  value="ย้อนกลับ" > </a>

                          </div>
                          <div class="col">
                            <a href="/complete">   <input id="btn_submit_S" type="submit"  value="ส่งข้อมูล"> </a>

                          </div>
                          
                        </div>
                      </div>
                </div>

            </div>
            </div>
            </form>
        </form>
    </form>
     <!-- #เช็คเลือกแรงดัน อุปกรณ์ ชนิด สาเหตุ บังคับเลือก -->
     <script>
        // function submit() {
        //     var Voltage = document.getElementsByName("Voltage");
        //     var found = 1;
        //     for (var i = 0; i < Voltage.length; i++) {
        //         if (Voltage[i].checked) {
        //             console.log(Voltage[i].value);

        //             found = 0;
        //             break;
        //         }
        //     }
        //     if (found == 1) {
        //         alert("กรุณาเลือกระดับแรงดัน");
        //     }
        //     var ddlFruits = document.getElementById("subject");
        //     if (ddlFruits.value == "subject ") {
        //         //If the "Please Select" option is selected display error.
        //         alert("กรุณาเลือกอุปกรณ์");
        //     }


        //     var ddlFruits2 = document.getElementById("topic");
        //     if (ddlFruits2.value == "topic ") {
        //         //If the "Please Select" option is selected display error.
        //         alert("กรุณาเลือกชนิดอุปกรณ์");

        //     }


        //     var ddlFruits3 = document.getElementById("chapter");
        //     if (ddlFruits3.value == "chapter ") {
        //         //If the "Please Select" option is selected display error.
        //         alert("กรุณาเลือกสาเหตุชำรุด");

        //     }

        // }
    </script>
        <!-- #กรอกเฉพาะตัวเลข -->
        <script>
        function onlyNumberKey(evt) {
          
          // Only ASCII character in that range allowed
          var ASCIICode = (evt.which) ? evt.which : evt.keyCode
          if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
              return false;
          return true;
        }
        </script>

        <script id="myscript">
            var typeData = ["115KV", "33KV", "22KV"];

            var type115_equipment = [
                "เสา",
                "ระบบต่อลงดินOHGW/OPGW",
                "ลูกถ้วยระบบสายส่ง",
                "สายไฟระบบสายส่ง และอุปกรณ์จับสาย",
                "จุดต่อในระบบสายส่ง",
                "อุปกรณ์ป้องกันและตัดตอน",

            ]

            var type115_topic = new Map([

                ["เสา", new Map([
                    ["เสาคอนกรีต", ["สภาพปกติ", "บิ่น,แตก", "บิดงอ,เสียรูป", "อื่นๆ"]],
                    ["เสาโครงเหล็ก", ["สภาพปกติ", "บิดงอ,เสียรูป", "เป็นสนิม", "อื่นๆ"]],
                    ["คอนคอนกรีต", ["สภาพปกติ", "บิ่น,แตก", "บิดงอ,เสียรูป", "bolt/nut หลวม,หลุด", "bolt/nut เปลี่ยนสี,เป็นสนิม", "อื่นๆ"]],
                    ["คอนเหล็ก", ["สภาพปกติ", "บิดงอ,เสียรูป", "เป็นสนิม", "bolt/nut หลวม,หลุด", "bolt/nut เปลี่ยนสี,เป็นสนิม", "อื่นๆ"]]
                ])],

                ["ระบบต่อลงดินOHGW/OPGW", new Map([
                    ["สาย OHGW/OPGW", ["สภาพปกติ", "สายขาด", "เป็นสนิม", "อื่นๆ"]],
                    ["สาย GROUND", ["สภาพปกติ", "สายขาด", "เป็นสนิม", "อื่นๆ"]],
                    ["เหล็กรองรับสาย OHGW/OPGW", ["สภาพปกติ", "บิดงอ,เสียรูป", "เป็นสนิม", "อื่นๆ"]],
                    ["จุดต่อระบบต่อลงดิน", ["สภาพปกติ", "จุดต่อOHGW/OPGW : หลวม,หลุด", "จุดต่อOHGW/OPGW : เปลี่ยนสี","จุดต่อOHGW/OPGW : รอยอาร์ค", "จุดต่อOHGW/OPGW : เป็นสนิม", "จุดต่อที่หัวเสา : หลวม,หลุด", "จุดต่อที่หัวเสา : เปลี่ยนสี", "จุดต่อที่หัวเสา : รอยอาร์ค", "จุดต่อที่หัวเสา : เป็นสนิม", "จุดต่อที่ GROUND PLATE : หลวม,หลุด", "อื่นๆ"]],
                ])],

                ["ลูกถ้วยระบบสายส่ง", new Map([
                    ["ลูกถ้วยกระเบื้อง", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยคอมโพสิท", ["สภาพปกติ", "ฉีกขาด", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยแก้วเหนียว", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                ])],

                ["สายไฟระบบสายส่ง และอุปกรณ์จับสาย", new Map([
                    ["สายเปลือย", ["สภาพปกติ", "รอยแตก,ขาด", "หลุดจากลูกถ้วย", "อื่นๆ"]],
                    ["preform armorod", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด","อื่นๆ"]],
                    ["preform armogrip", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด","อื่นๆ"]],
                    ["preform แยกสาย",["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด","อื่นๆ"]],
                    ["strain clamp",["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด","อื่นๆ"]],
                    ["suspension clamp",["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด","อื่นๆ"]],
                ])],

                ["จุดต่อในระบบสายส่ง", new Map([
                    ["t-slip", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["t-clamp (แคล้มป์มือเสือ)", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["หางปลา", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["หลอดต่อสาย", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                ])],

                ["อุปกรณ์ป้องกันและตัดตอน", new Map([
                    ["air break switch", ["สภาพปกติ", "ลูกถ้วยซับพอร์ต : บิ่น,แตก", "ลูกถ้วยซับพอร์ต : รอยอาร์ค","ลูกถ้วยซับพอร์ต : เปลี่ยนสี", "ลูกถ้วยซับพอร์ต : ผิวสกปรก", "ลูกถ้วยซับพอร์ต : เป็นสนิม", "ลูกถ้วยซับพอร์ต : หลวม,หลุด", "จุดต่อ terminal clamp/pad : รอยอาร์ค", "ชุดตัดอาร์ค หนวดกุ้ง : ชำรุด", "อื่นๆ"]],
                    ["load break switch", ["สภาพปกติ", "ลูกถ้วยซับพอร์ต : บิ่น,แตก", "ลูกถ้วยซับพอร์ต : เปลี่ยนสี", "ลูกถ้วยซับพอร์ต : รอยอาร์ค", "ลูกถ้วยซับพอร์ต : ผิวสกปรก", "ลูกถ้วยซับพอร์ต : เป็นสนิม", "ลูกถ้วยซับพอร์ต : หลวม,หลุด", "จุดต่อ terminal clamp/pad : รอยอาร์ค", "ชุดดับอาร์ค : ชำรุด", "อื่นๆ"]],
                    ["circuit switcher", ["สภาพปกติ", "ลูกถ้วยซับพอร์ต : บิ่น,แตก", "ลูกถ้วยซับพอร์ต : เปลี่ยนสี", "ลูกถ้วยซับพอร์ต : รอยอาร์ค", "ลูกถ้วยซับพอร์ต : ผิวสกปรก", "ลูกถ้วยซับพอร์ต : เป็นสนิม", "ลูกถ้วยซับพอร์ต : หลวม,หลุด", "จุดต่อ terminal clamp/pad : รอยอาร์ค", "อื่นๆ"]],

                ])],



            ]);

            // --------------------------33
            var type33_equipment = [
                "เสา",
                "ระบบต่อลงดิน OHGW",
                "ลูกถ้วยระบบจำหน่าย",
                "สายไฟระบบจำหน่าย และอุปกรณ์จับสาย",
                "จุดต่อในระบบจำหน่าย",
                "อุปกรณ์ป้องกันและตัดตอน",
                "กับดักเสิร์จ",
                "คาปาซิเตอร์",
                "CT/VT"
            ]

            var type33_topic = new Map([

                ["เสา", new Map([
                    ["เสาคอนกรีต", ["สภาพปกติ", "บิ่น,แตก", "บิดงอ,เสียรูป", "อื่นๆ"]],
                    ["เสาโครงเหล็ก", ["สภาพปกติ", "บิดงอ,เสียรูป", "เป็นสนิม", "อื่นๆ"]],
                    ["คอนคอนกรีต", ["สภาพปกติ", "บิ่น,แตก", "บิดงอ,เสียรูป", "bolt/nut หลวม,หลุด", "bolt/nut เปลี่ยนสี,เป็นสนิม", "bond wire หลุด,ขาด", "อื่นๆ"]],
                    ["คอนเหล็ก", ["สภาพปกติ","บิดงอ,เสียรูป","เป็นสนิม", "bolt/nut หลวม,หลุด", "bolt/nut เปลี่ยนสี,เป็นสนิม", "bond wire หลุด,ขาด", "อื่นๆ"]],
                ])],

                ["ระบบต่อลงดิน OHGW", new Map([
                    ["สาย OHGW", ["สภาพปกติ", "สายขาด", "เป็นสนิม", "อื่นๆ"]],
                    ["สาย GROUND", ["สภาพปกติ","เป็นสนิม", "อื่นๆ"]],
                    ["เหล็กรองรับสาย OHGW", ["สภาพปกติ", "บิดงอ,เสียรูป", "เป็นสนิม", "อื่นๆ"]],
                    ["จุดต่อระบบต่อลงดิน", ["สภาพปกติ", "จุดต่อที่OHGW : หลวม,หลุด", "จุดต่อที่OHGW : เปลี่ยนสี", "จุดต่อที่OHGW : รอยอาร์ค", "จุดต่อที่OHGW : เป็นสนิม", "จุดต่อที่หัวเสา : หลวม,หลุด", "จุดต่อที่หัวเสา : เปลี่ยนสี", "จุดต่อที่หัวเสา : รอยอาร์ค", "จุดต่อที่หัวเสา : เป็นสนิม", "อื่นๆ"]],
                ])],

                ["ลูกถ้วยระบบจำหน่าย", new Map([
                    ["ลูกถ้วยกระเบื้อง : ชนิด Pin Type", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยกระเบื้อง : ชนิด Line Post", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยกระเบื้อง : ชนิด Pin Post", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยกระเบื้อง : ชนิด ลูกถ้วยแขวน", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยคอมโพสิท", ["สภาพปกติ", "ฉีกขาด", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยแก้วเหนียว", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["สเปเซอร์กระเบื้อง", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["สเปเซอร์คอมโพสิท", ["สภาพปกติ", "ฉีกขาด", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                ])],


                ["สายไฟระบบจำหน่าย และอุปกรณ์จับสาย", new Map([
                    ["สายเปลือย", ["สภาพปกติ", "รอยแตก,ขาด", "หลุดจากลูกถ้วย", "อื่นๆ"]],
                    ["สายหุ้มฉนวน", ["สภาพปกติ", "รอยแตก,ขาด", "หลุดจากลูกถ้วย/สเปเซอร์", "อื่นๆ"]],
                    ["tie wire", ["สภาพปกติ", "หลวม,หลุด", "อื่นๆ"]],
                    ["cover tie wire", ["สภาพปกติ", "หลวม,หลุด", "อื่นๆ"]],
                    ["snap tie", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด", "อื่นๆ"]],
                    ["strain clamp", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด", "อื่นๆ"]],
                    ["preform", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด", "อื่นๆ"]],
                ])],

                ["จุดต่อในระบบจำหน่าย", new Map([
                    ["belt clamp,hotline clamp", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["t-clamp (แคล้มป์มือเสือ)", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["pg clamp", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["pin terminal", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["หางปลา", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["หลอดต่อสาย", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                ])],

                ["อุปกรณ์ป้องกันและตัดตอน", new Map([
                    ["air break switch", ["สภาพปกติ", "ลูกถ้วยซับพอร์ต : บิ่น,แตก", "ลูกถ้วยซับพอร์ต : เปลี่ยนสี", "ลูกถ้วยซับพอร์ต : รอยอาร์ค", "ลูกถ้วยซับพอร์ต : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "อื่นๆ"]],
                    ["disconnecting switch", ["สภาพปกติ", "ลูกถ้วยซับพอร์ต : บิ่น,แตก", "ลูกถ้วยซับพอร์ต : เปลี่ยนสี", "ลูกถ้วยซับพอร์ต : รอยอาร์ค", "ลูกถ้วยซับพอร์ต : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "อื่นๆ"]],
                    ["ดรอปเอ้า ฟิวส์ คัทเอ้าท์", ["สภาพปกติ", "ลูกถ้วย : บิ่น,แตก", "ลูกถ้วย : เปลี่ยนสี", "ลูกถ้วย : รอยอาร์ค", "ลูกถ้วย : ผิวสกปรก", "จุดต่อ terminal clamp : หลวม,หลุด", "จุดต่อ terminal clamp : เป็นสนิม", "จุดต่อ terminal clamp : รอยอาร์ค", "Bracket : เป็นสนิม", "Bracket : หลวม,หลุด", "อื่นๆ"]],
                    ["load break switch (SF6 )", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "ตัวถัง : เป็นสนิม","อื่นๆ"]],
                    ["recloser", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "ตัวถัง : เป็นสนิม", "ตัวถัง : น้ำมันรั่ว", "อื่นๆ"]],
                ])],

                ["กับดักเสิร์จ", new Map([
                    ["กับดักเสิร์จกระเบื้อง", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "สายต่อลงดิน : รอยอาร์ค", "สายต่อลงดิน : หลวม,หลุด", "ครีบ : บิ่น,แตก", "ครีบ : เปลี่ยนสี", "ครีบ : รอยอาร์ค", "ครีบ : ผิวสกปรก", "Bracket : เป็นสนิม", "Bracket : หลวม,หลุด", "อื่นๆ"]],
                    ["กับดักเสิร์จคอมโพสิท", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "สายต่อลงดิน : รอยอาร์ค", "สายต่อลงดิน : หลวม,หลุด", "ครีบ : ฉีกขาด", "ครีบ : เปลี่ยนสี", "ครีบ : รอยอาร์ค", "ครีบ : ผิวสกปรก", "Bracket : เป็นสนิม", "Bracket : หลวม,หลุด", "อื่นๆ"]],
                ])],

                ["คาปาซิเตอร์", new Map([
                    ["fix capacitor", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp : หลวม,หลุด", "จุดต่อ terminal clamp : เป็นสนิม", "จุดต่อ terminal clamp : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ชุดแขวนคาปา (Hanger) ชำรุด", "อื่นๆ"]],
                    ["switching capacitor", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp : หลวม,หลุด", "จุดต่อ terminal clamp : เป็นสนิม", "จุดต่อ terminal clamp : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ชุดแขวนคาปา (Hanger) ชำรุด", "ชุด interrupt : ชำรุด", "อื่นๆ"]],
                ])],

                ["CT/VT", new Map([
                    ["CT", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "บุชชิ่ง :  หลวม,หลุด", "จุดต่อ terminal : หลวม,หลุด","จุดต่อ terminal : เป็นสนิม", "จุดต่อ terminal : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ไม้แป้น : ชำรุด", "อื่นๆ"]],
                    ["VT", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "บุชชิ่ง :  หลวม,หลุด", "จุดต่อ terminal : หลวม,หลุด","จุดต่อ terminal : เป็นสนิม", "จุดต่อ terminal : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ไม้แป้น : ชำรุด", "อื่นๆ"]],
                ])],

            ]);

            //--------------------------22

            var type22_equipment = [
                "เสา",
                "ระบบต่อลงดิน OHGW",
                "ลูกถ้วยระบบจำหน่าย",
                "สายไฟระบบจำหน่าย และอุปกรณ์จับสาย",
                "จุดต่อในระบบจำหน่าย",
                "อุปกรณ์ป้องกันและตัดตอน",
                "กับดักเสิร์จ",
                "คาปาซิเตอร์",
                "CT/VT"
            ]

            var type22_topic = new Map([

                ["เสา", new Map([
                    ["เสาคอนกรีต", ["สภาพปกติ", "บิ่น,แตก", "บิดงอ,เสียรูป", "อื่นๆ"]],
                    ["เสาโครงเหล็ก", ["สภาพปกติ", "บิดงอ,เสียรูป", "เป็นสนิม", "อื่นๆ"]],
                    ["คอนคอนกรีต", ["สภาพปกติ", "บิ่น,แตก", "บิดงอ,เสียรูป", "bolt/nut หลวม,หลุด", "bolt/nut เปลี่ยนสี,เป็นสนิม", "bond wire หลุด,ขาด", "อื่นๆ"]],
                    ["คอนเหล็ก", ["สภาพปกติ","บิดงอ,เสียรูป","เป็นสนิม", "bolt/nut หลวม,หลุด", "bolt/nut เปลี่ยนสี,เป็นสนิม", "bond wire หลุด,ขาด", "อื่นๆ"]],
                ])],

                ["ระบบต่อลงดิน OHGW", new Map([
                    ["สาย OHGW", ["สภาพปกติ", "สายขาด", "เป็นสนิม", "อื่นๆ"]],
                    ["สาย GROUND", ["สภาพปกติ","เป็นสนิม", "อื่นๆ"]],
                    ["เหล็กรองรับสาย OHGW", ["สภาพปกติ", "บิดงอ,เสียรูป", "เป็นสนิม", "อื่นๆ"]],
                    ["จุดต่อระบบต่อลงดิน", ["สภาพปกติ", "จุดต่อที่OHGW : หลวม,หลุด", "จุดต่อที่OHGW : เปลี่ยนสี", "จุดต่อที่OHGW : รอยอาร์ค", "จุดต่อที่OHGW : เป็นสนิม", "จุดต่อที่หัวเสา : หลวม,หลุด", "จุดต่อที่หัวเสา : เปลี่ยนสี", "จุดต่อที่หัวเสา : รอยอาร์ค", "จุดต่อที่หัวเสา : เป็นสนิม", "อื่นๆ"]],
                ])],

                ["ลูกถ้วยระบบจำหน่าย", new Map([
                    ["ลูกถ้วยกระเบื้อง : ชนิด Pin Type", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยกระเบื้อง : ชนิด Line Post", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยกระเบื้อง : ชนิด Pin Post", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยกระเบื้อง : ชนิด ลูกถ้วยแขวน", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยคอมโพสิท", ["สภาพปกติ", "ฉีกขาด", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["ลูกถ้วยแก้วเหนียว", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["สเปเซอร์กระเบื้อง", ["สภาพปกติ", "บิ่น,แตก", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                    ["สเปเซอร์คอมโพสิท", ["สภาพปกติ", "ฉีกขาด", "เปลี่ยนสี", "รอยอาร์ค", "ผิวสกปรก", "หลวม,หลุด", "ก้านเป็นสนิม", "อื่นๆ"]],
                ])],


                ["สายไฟระบบจำหน่าย และอุปกรณ์จับสาย", new Map([
                    ["สายเปลือย", ["สภาพปกติ", "รอยแตก,ขาด", "หลุดจากลูกถ้วย", "อื่นๆ"]],
                    ["สายหุ้มฉนวน", ["สภาพปกติ", "รอยแตก,ขาด", "หลุดจากลูกถ้วย/สเปเซอร์", "อื่นๆ"]],
                    ["tie wire", ["สภาพปกติ", "หลวม,หลุด", "อื่นๆ"]],
                    ["cover tie wire", ["สภาพปกติ", "หลวม,หลุด", "อื่นๆ"]],
                    ["snap tie", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด", "อื่นๆ"]],
                    ["strain clamp", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด", "อื่นๆ"]],
                    ["preform", ["สภาพปกติ", "หลวม,หลุด", "รอยแตก,ขาด", "อื่นๆ"]],
                ])],

                ["จุดต่อในระบบจำหน่าย", new Map([
                    ["belt clamp,hotline clamp", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["t-clamp (แคล้มป์มือเสือ)", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["pg clamp", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["pin terminal", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["หางปลา", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                    ["หลอดต่อสาย", ["สภาพปกติ", "บิดงอ,เสียรูป", "เปลี่ยนสี", "รอยอาร์ค", "เป็นสนิม", "หลวม,หลุด", "อื่นๆ"]],
                ])],

                ["อุปกรณ์ป้องกันและตัดตอน", new Map([
                    ["air break switch", ["สภาพปกติ", "ลูกถ้วยซับพอร์ต : บิ่น,แตก", "ลูกถ้วยซับพอร์ต : เปลี่ยนสี", "ลูกถ้วยซับพอร์ต : รอยอาร์ค", "ลูกถ้วยซับพอร์ต : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "อื่นๆ"]],
                    ["disconnecting switch", ["สภาพปกติ", "ลูกถ้วยซับพอร์ต : บิ่น,แตก", "ลูกถ้วยซับพอร์ต : เปลี่ยนสี", "ลูกถ้วยซับพอร์ต : รอยอาร์ค", "ลูกถ้วยซับพอร์ต : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "อื่นๆ"]],
                    ["ดรอปเอ้า ฟิวส์ คัทเอ้าท์", ["สภาพปกติ", "ลูกถ้วย : บิ่น,แตก", "ลูกถ้วย : เปลี่ยนสี", "ลูกถ้วย : รอยอาร์ค", "ลูกถ้วย : ผิวสกปรก", "จุดต่อ terminal clamp : หลวม,หลุด", "จุดต่อ terminal clamp : เป็นสนิม", "จุดต่อ terminal clamp : รอยอาร์ค", "Bracket : เป็นสนิม", "Bracket : หลวม,หลุด", "อื่นๆ"]],
                    ["load break switch (SF6 )", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "ตัวถัง : เป็นสนิม","อื่นๆ"]],
                    ["recloser", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp/หางปลา : หลวม,หลุด", "จุดต่อ terminal clamp/หางปลา : เป็นสนิม", "จุดต่อ terminal clamp/หางปลา : รอยอาร์ค", "ตัวถัง : เป็นสนิม", "ตัวถัง : น้ำมันรั่ว", "อื่นๆ"]],
                ])],

                ["กับดักเสิร์จ", new Map([
                    ["กับดักเสิร์จกระเบื้อง", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "สายต่อลงดิน : รอยอาร์ค", "สายต่อลงดิน : หลวม,หลุด", "ครีบ : บิ่น,แตก", "ครีบ : เปลี่ยนสี", "ครีบ : รอยอาร์ค", "ครีบ : ผิวสกปรก", "Bracket : เป็นสนิม", "Bracket : หลวม,หลุด", "อื่นๆ"]],
                    ["กับดักเสิร์จคอมโพสิท", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "สายต่อลงดิน : รอยอาร์ค", "สายต่อลงดิน : หลวม,หลุด", "ครีบ : ฉีกขาด", "ครีบ : เปลี่ยนสี", "ครีบ : รอยอาร์ค", "ครีบ : ผิวสกปรก", "Bracket : เป็นสนิม", "Bracket : หลวม,หลุด", "อื่นๆ"]],
                ])],

                ["คาปาซิเตอร์", new Map([
                    ["fix capacitor", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp : หลวม,หลุด", "จุดต่อ terminal clamp : เป็นสนิม", "จุดต่อ terminal clamp : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ชุดแขวนคาปา (Hanger) ชำรุด", "อื่นๆ"]],
                    ["switching capacitor", ["สภาพปกติ", "สายลีด : หลวม,หลุด", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "จุดต่อ terminal clamp : หลวม,หลุด", "จุดต่อ terminal clamp : เป็นสนิม", "จุดต่อ terminal clamp : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ชุดแขวนคาปา (Hanger) ชำรุด", "ชุด interrupt : ชำรุด", "อื่นๆ"]],
                ])],

                ["CT/VT", new Map([
                    ["CT", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "บุชชิ่ง :  หลวม,หลุด", "จุดต่อ terminal : หลวม,หลุด","จุดต่อ terminal : เป็นสนิม", "จุดต่อ terminal : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ไม้แป้น : ชำรุด", "อื่นๆ"]],
                    ["VT", ["สภาพปกติ", "บุชชิ่ง : บิ่น,แตก", "บุชชิ่ง : เปลี่ยนสี", "บุชชิ่ง : รอยอาร์ค", "บุชชิ่ง : ผิวสกปรก", "บุชชิ่ง :  หลวม,หลุด", "จุดต่อ terminal : หลวม,หลุด","จุดต่อ terminal : เป็นสนิม", "จุดต่อ terminal : รอยอาร์ค", "ตัวถัง : น้ำมันรั่ว", "ตัวถัง : เป็นสนิม", "ไม้แป้น : ชำรุด", "อื่นๆ"]],
                ])],


            ]);


            $('document').ready(function() {
                addData();
                setting();
                // $('#chapter').multipleSelect({
                //     showClear: true
                // })
            });
            // เพิ่มกลุ่มแรงดัน,เพิ่มค่าตั้งต้น(ประเภทอุปกรณ์,ชนิดอุปกรณ์,'') ครั้งแรกเท่านั้น
         
            
            function addData() {
                
                $("#subject").append(
                    ` <option value=" " selected="selected">เลือกประเภทอุปกรณ์</option>`//ค่าตั้งต้น
                );
                

                $("#topic").append(
                    `<option value=" " selected="selected">ชนิดอุปกรณ์</option>`
                );
                
                $("#chapter").append('').multipleSelect('refresh');
                $("#divother").hide();
                for (var i = 0; i < typeData.length; i++ ) {
                    $(".radio_box").append(
                        `<label><br> 
                    <input type="radio" class="dataBox" name="typeDataBox" value="`+ typeData[i]+`" required></input>
                    ` + typeData[i]+`</label><br>`
                    )
                }
            }
            // ปป.ข้อมูลประเภทอุปกรณ์ เมื่อแรงดันที่addData();ปป
            function setting() {
                

                $("input[name='typeDataBox']").on("change", function() {
                    // $("li").removeClass("selected");
                    // $(".ms-choice span").text("");
                    console.log($("input[name='typeDataBox']:checked").val());
                    // ลบประเภทอุปกรณ์,ชนิดอุปกรณ์,สภาพอุปกรณ์เดิมที่มี ตั้งค่าเริ่มต้นชนิดอุปกรณ์,ประเภทอุปกรณ์,สภาพอุปกรณ์ เมื่อแรงดันที่addData();ปป
                    // if ($("input[name='typeDataBox']:checked").val())

                    $("#subject").html('');
                    $("#subject").html('<option value=" " selected="selected">เลือกประเภทอุปกรณ์</option>');
                    $("#topic").html('');
                    $("#topic").html('<option value=" " selected="selected">ชนิดอุปกรณ์</option>');
                    let del_chapter= $("#chapter").val();
                    // console.log(del_chapter);
                    $("#chapter").html('');
                    $("#divother").hide();

                    for (let i = 0; i <= del_chapter.length; i++) {
                        $("#chapter").append(``).multipleSelect('refresh');
                    }
                    
                    
                    // เพิ่มข้อมูลประเภทอุปกรณ์
                    if ($("input[name='typeDataBox']:checked").val() == "22KV") {
                        for (let i = 0; i < type22_equipment.length; i++) {
                            $("#subject").append(
                                ` <option value="` + type22_equipment[i] + `">` + type22_equipment[i] + `</option>`
                            
                            );
                        }
                        onChangeType()

                    } else if ($("input[name='typeDataBox']:checked").val() == "33KV") {
                        for (let i = 0; i < type33_equipment.length; i++) {
                            $("#subject").append(
                                ` <option value="` + type33_equipment[i] + `">` + type33_equipment[i] + `</option>`
                            );
                        }
                        onChangeType()
 
                    } else if ($("input[name='typeDataBox']:checked").val() == "115KV") {
                        for (let i = 0; i < type115_equipment.length; i++) {
                            $("#subject").append(
                                ` <option value="` + type115_equipment[i] + `">` + type115_equipment[i] + `</option>`
                            );
                        }
                        onChangeType()
                    }
                });

            }
            
            // ปป.ชนิดอุปกรณ์,สภาพอุปกรณ์ เมื่อประเภทอุปกรณ์ ปป.
            function onChangeType() {

                $("#subject").on("change", function() {
                    
                    // $("li").removeClass("selected");
                    // console.log($("li").removeClass("selected"));
                    // $(".ms-choice span").text("");
                    // console.log($(".ms-choice span").text(""));

                    // ลบชนิดอุปกรณ์,สภาพอุปกรณ์เดิมที่มี ตั้งค่าเริ่มต้นชนิดอุปกรณ์,สภาพอุปกรณ์ เมือประเภทอุปกรณ์ ปป
                    var new_subject = $("#subject").val();
                    
                    $("#topic").html('');
                    $("#topic").html('<option value=" " selected="selected">ชนิดอุปกรณ์</option>');
                    var del_chapter= $("#chapter").val();
                    $("#chapter").html('');
                    $("#divother").hide();
                    for (let i = 0; i <= del_chapter.length; i++) {
                        $("#chapter").append(``).multipleSelect('refresh');
                    }
                    //เพิ่มข้อมูลชนิดอุปกรณ์,สภาพอุปกรณ์
                    if ($("input[name='typeDataBox']:checked").val() == "22KV") {
                        
                        let s1 = type22_topic.get(new_subject).entries();
                        
                        while (1) {
                            v = s1.next()
                            if (v.done) break;

                            $("#topic").append(` <option value="` + v.value[0] + `">` + v.value[0] + `</option>`);
                            
                        }
                           
                        $("#topic").on("change", function() {
                            let update_topic = $("#topic").val();
                            let update_subject = new_subject;

                            // console.log(update_topic);
                            // console.log(update_subject);

                            let update_case = type22_topic.get(update_subject).get(update_topic);
                            // console.log(update_case);
                            if (update_case != undefined){
                            $("#chapter").html("");
                            $("#divother").hide();
                            for (let j = 0; j < update_case.length; j++) {
                                $("#chapter").append(` <option value="` + update_case[j] + `" >` + update_case[j] + `</option>`).multipleSelect('refresh');
                            }
                            console.log("it's ok");
                            }
                        });

                        $("#chapter").on("change", function() { //เมื่อเลือกสภาพอุปกรณ์อื่นๆ Show TextBox
                            let choose_case= $("#chapter").multipleSelect('getSelects');
                            // console.log(choose_case);
                            if (choose_case=="")
                            $("#divother").hide();
                            for (let k = 0; k < choose_case.length; k++) {
                                if(choose_case[k]=="อื่นๆ")                       
                                    $("#divother").show();
                                else
                                    $("#divother").hide();
                               
                            }
                        });
                    } 
                    //เพิ่มข้อมูลชนิดอุปกรณ์,สภาพอุปกรณ์
                    else if ($("input[name='typeDataBox']:checked").val() == "33KV") {
                        let s1 = type33_topic.get(new_subject).entries();
                        while (1) {
                            v = s1.next()
                            if (v.done) break;

                            $("#topic").append(` <option value="` + v.value[0] + `">` + v.value[0] + `</option>` );
                        }
                        $("#topic").on("change", function() {
                            let update_topic = $("#topic").val();
                            let update_subject = new_subject;

                            // console.log(update_topic);
                            // console.log(update_subject);

                            let update_case = type33_topic.get(update_subject).get(update_topic);
                            // console.log(update_case);
                            if (update_case != undefined){
                            $("#chapter").html("");
                            $("#divother").hide();
                            for (let j = 0; j < update_case.length; j++) {
                                $("#chapter").append(` <option value="` + update_case[j] + `" >` + update_case[j] + `</option>`).multipleSelect('refresh');
                            }
                            console.log("it's ok");
                            }
                        });
                        $("#chapter").on("change", function() { //เมื่อเลือกสภาพอุปกรณ์อื่นๆ Show TextBox
                            let choose_case= $("#chapter").multipleSelect('getSelects');
                            // console.log(choose_case);
                            if (choose_case=="")
                            $("#divother").hide();
                            for (let k = 0; k < choose_case.length; k++) {
                                if(choose_case[k]=="อื่นๆ")                       
                                    $("#divother").show();
                                else
                                    $("#divother").hide();
                            }
                        });

                    } 
                    //เพิ่มข้อมูลชนิดอุปกรณ์,สภาพอุปกรณ์
                    else if ($("input[name='typeDataBox']:checked").val() == "115KV") { //เลือกแรงดันแล้วเลือกอุปกรณ์ให้แสดงประเภทอุปกรณ์
                        
                        let s1 = type115_topic.get(new_subject).entries();
                        console.log("s1=",s1);
                        
                        while (1) {
                            v = s1.next()
                            // console.log(v);
                            if (v.done) break;
                            $("#topic").append(` <option value="` + v.value[0] + `">` + v.value[0] + `</option>`);
                            
                        }
                        
                        $("#topic").on("change", function() { //ได้ประเภทอุปกรณ์ให้แสดงสภาพอุปกรณ์
                            let update_topic = $("#topic").val();
                            let update_subject = new_subject;
                            // console.log(update_topic);
                            // console.log(update_subject);
                            
                            
                            let update_case = type115_topic.get(update_subject).get(update_topic);
                            if (update_case != undefined){
                            // console.log(update_case);
                            $("#chapter").html(''); //ลบ multipleselectเดิม
                            $("#divother").hide();
                            //let for block scope(different declare,if same variable is 2 variable),var global scope (different declare,if same variable is 1 variable)
                            for (let j = 0; j < update_case.length; j++) {
                                //update multiple select
                                $("#chapter").append(` <option value="` + update_case[j] + `" >` + update_case[j] + `</option>`).multipleSelect('refresh');                                 
                                
                            }
                            console.log("it's ok");
                            }
                            
                        });
                        $("#chapter").on("change", function() { //เมื่อเลือกสภาพอุปกรณ์อื่นๆ Show TextBox
                            let choose_case= $("#chapter").multipleSelect('getSelects');
                            // console.log(choose_case);
                            if (choose_case=="")
                            $("#divother").hide();
                            for (let k = 0; k < choose_case.length; k++) {
                                if(choose_case[k]=="อื่นๆ")                       
                                    $("#divother").show();
                                else
                                    $("#divother").hide();
                               
                            }
                        });
                    }
                    
                });

            }
            
           
        </script>
         <script>
     
            /* nav between adding and removing the "responsive" class to topnav when the user clicks on the icon */
            function myFunction() {
              var x = document.getElementById("myTopnav");
              if (x.className === "topnav") {
                x.className += " responsive";
              } else {
                x.className = "topnav";
              }
            }
          </script>


        <!-- Optional JavaScript; choose one of the two! -->


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

       <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
       <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- แท็กการเลือก radiobox -->
       <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
  
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>

</html>